.app-container {
    position: relative;
    height: 100vh;
  }
  
  .background {
    height: 100%;
    background-image: url("../assets/background.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
  
  .construction-modal {
    min-width: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }